@font-face {
    font-family: myFirstFont;
    src: url(img/FuturaHandwritten.ttf);
  } 
  
  div {
    font-family: myFirstFont;
  }

body {
    margin: 0;
    overflow: hidden;
}


#front-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    transform: translate(-50%, -50%);
   
}
/***************
THE GRID
***************/

#canvas {
    background-color: #1C646D;
    cursor: crosshair;
}

/***************
THE EDITOR
***************/

select {
    color: #d3d3d3;
    background-color: #1f0802;
    padding: 0.25em 0.5em;
    font-family: myFirstFont;
    cursor: pointer;
    line-height: 1.1;
    outline: none;
}

#editor-container{
    color: white;
    font-family: myFirstFont;
	min-width: 340px;
	width: 20%;
	height: 100%;
    display: none;
	position: absolute;
	right: 0;
    overflow: auto;
	background: #1f0802;
}

#editor {
	margin: 40px 40px 40px 20px;
}

#editor .proportions span{
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#editor hr{
	margin: 40px 0;
    border: none;
    height: 4px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#editor-title{
	font-size: 27px;
	margin-bottom: 25px;
}

#editor input[type=text].editor_number{
    color: #aaa;
	font-size: 16px;
    width: 20px;
    cursor: col-resize;
    background: none;
    border:none;
    border-bottom: 2px dotted #1f0802;
    border-radius: 0;
}

#editor #cellsize-slider {
    width: 50px;
    
}

#game-info-start {
    display: block;
}

#game-info-rps {
    display: none;
}

#game-info-pd {
    display: none;
}

#game-info-schelling {
    display: none;
}

#game-info-ulti {
    display: none;
}

#game-info-hd {
    display: none;
}

#game-info-stag {
    display: none;
}

#bio-proportions {
    display: none;
}

.proportions {
    margin-left: 5%;
    margin-bottom: 5%;
}

.sliders {
    -webkit-appearance: none;  /* Override default CSS styles */
    margin: 0;
    appearance: none;
    width: 60%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

.sliders:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.sliders::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1C646D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#bi-input-games-div {
    display: block;
}

#tri-input-games-div {
    display: none;
}

.colorpicker{
    cursor: pointer;
    border-radius: 50%;
    background-color: #1f0802;
    height: 25px;
    width: 25px;
}
/***************
THE PLAY CONTROLS
***************/

#play-container{
    display: none;
	padding: 10px 0;
    width: 80%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(202, 17, 17, 0);
}

#play-container button{
	color: #d3d3d3;
    background-color: #1f0802;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-family: myFirstFont;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
}

#play-controls{
	width: 745px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
}

#draw-mode-container img {
    width: 25;
    height: 25;
}
