@font-face {
    font-family: myFirstFont;
    src: url(FuturaHandwritten.ttf);
  } 
  
  div {
    font-family: myFirstFont;
  }

body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

#main-container {
    display: flex;
}

#front-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center-page {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    padding: 0;
}

#center-page a {
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

#center-page a:hover {
    font-weight: 600;
    cursor: pointer;
}

#center-page span:hover {
    font-weight: 600;
    cursor: pointer;
}
/***************
THE GRID
***************/

#canvas-container {
    position: relative; 
    width: 75%;
}

#canvas {
    display: none;
    background-color: #000000;
    cursor: crosshair;
}

/***************
THE EDITOR
***************/

select {
    color: #d3d3d3;
    background-color: #1f0802;
    padding: 0.25em 0.5em;
    font-family: myFirstFont;
    cursor: pointer;
    line-height: 1.1;
    outline: none;
}

#editor-container{
    position: absolute;
    right: 0;
    width: 25%;
    color: white;
    font-family: myFirstFont;
	height: 100%;
    display: none;
    overflow: auto;
	background: #0000003b;
}

#editor {
	margin: 40px 40px 40px 20px;
}

#editor .proportions span{
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#editor hr{
	margin: 40px 0;
    border: none;
    height: 4px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#editor-title{
	font-size: 27px;
	margin-bottom: 25px;
}

#editor input[type=text].editor_number{
    color: #aaa;
	font-size: 16px;
    width: 20px;
    cursor: col-resize;
    background: none;
    border:none;
    border-bottom: 2px dotted #1f0802;
    border-radius: 0;
}

#editor #cellsize-slider {
    width: 50px;
    
}

#game-info-start {
    display: block;
}

#game-info-rps {
    display: none;
}

#game-info-pd {
    display: none;
}

#game-info-schelling {
    display: none;
}

#game-info-ulti {
    display: none;
}

#game-info-hd {
    display: none;
}

#game-info-stag {
    display: none;
}

#bio-proportions {
    display: none;
}

.proportions {
    margin-left: 5%;
    margin-bottom: 5%;
}

.sliders {
    -webkit-appearance: none;  /* Override default CSS styles */
    margin: 0;
    appearance: none;
    width: 60%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

.sliders:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.sliders::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1C646D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#bi-input-games-div {
    display: block;
}

#tri-input-games-div {
    display: none;
}

.colorpicker, .colorpicker-2 {
    cursor: pointer;
    border-radius: 50%;
    background-color: #1f0802;
    height: 25px;
    width: 25px;
    border: none;
}
/***************
THE PLAY CONTROLS
***************/

#play-container {
    position: absolute;
    width: 100%;
    display: none;
	padding: 10px 0;
    height: 40px;
    position: absolute;
    bottom: 0;
    margin: auto 0;
    background-color: rgba(202, 17, 17, 0);
}

#play-container button {
	color: #d3d3d3;
    background-color: #1f0802;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-family: myFirstFont;
    cursor: pointer;
    line-height: 1.1;
    height: 100%;
}

#play-container select {
    height: 100%;
}

#play-container select, button {
    margin-right: 0.5rem;
}

#play-controls {
	height: 40px;
	display: flex;
	overflow: hidden;
    justify-content: center;
}

#draw-button {
    display: flex;
    align-items: center;
}

#draw-square {
    background-color: green;
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
}


#update-rules-menu, #neighbours-menu {
    margin-top: 0.5rem;
}

#toggle-editor {
    font-size: larger;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.display-elements div {
    margin-bottom: 1rem;
}

/***************
FRONT PAGE STYLE
***************/

.loader {
    width: 30rem;
    height: 30rem;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 30rem;
    height: 30rem;
    border: 2px solid rgb(56, 24, 76);
    position: absolute;
    left: 0;
    top: 0;
    animation: rotation 2s ease-in-out infinite alternate;
  }
  .loader::after {
    border-color: rgb(160, 205, 96);
    animation-direction: alternate-reverse;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

#stats-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    color: #d3d3d3;
    background-color: #1f0802b5;
    padding: 0.25em 0.5em;
    z-index: 999;
}

#stats-container div span {
    font-size: smaller;
    font-family:'Courier New', Courier, monospace;
}